[Unit]
Description=Series Manager
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Gestor-Series/app/utils/bot_series.py >> /home/pi/Gestor-Series/bot.log 2>&1
ExecStop=killall -9 bot_series.py
User=pi

[Install]
WantedBy=multi-user.target